<div class="panel-body">
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="one">
            <div class="commonsearch-table ">
                <form class="form-horizontal" role="form" method="post" action="">
                    <fieldset>
                        <div class="row">

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <label for="c-month" class="control-label col-xs-4">当前月份</label>
                                <div class="col-xs-8">
                                    <input id="c-month" data-rule="required" class="form-control datetimepicker"
                                           data-date-format="YYYY-MM" data-use-current="true" name="month" type="text"
                                           value="{:date('Y-m')}">
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-sm-6 col-md-4 col-lg-3">
                                <div class="col-sm-8 col-xs-offset-4">
                                    <button type="submit" class="btn btn-success">提交</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <table id="table" class="table table-striped table-bordered table-hover" width="100%">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="echart" style="height:300px;width:100%;"></div>
                    </div>
                </div>
            </table>
            <div class="tab-pane fade active in" id="two">
                <div class="row"></div>
            </div>

            <table id="table2" class="table table-striped table-bordered table-hover" width="100%" style="margin-top: 0px;">
                <thead style="display: table-header-group;">
                <tr>
                    <th style="text-align: center; vertical-align: middle; ">
                        <div class="th-inner ">日期</div>
                        <div class="fht-cell"></div>
                    </th>
                    <th style="text-align: center; vertical-align: middle; ">
                        <div class="th-inner ">当天新用户数</div>
                        <div class="fht-cell"></div>
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>